html {
    font-size: 62.5%;
    font-family: $secondaryFont;
}


li {
    list-style: none;
}

ul {
    padding: 0;
    margin: 0;
}

.wrapper {
    overflow: hidden;
    width: 100vw;
}

.button {
    position: absolute;
    border-radius: 34px;
    padding: 15px 27px;
    border: 2px solid $buttonColor;
    font-weight: 700;
    background-position: left;
    background: linear-gradient(to right, transparent 33%, $buttonColor 66%);
    background-size: 300% 100%;
    overflow: hidden;
    color: white;
    font-size: 2.5rem;
    transition: all 1s;
    &:hover {
        background-position: right;
    }

    &:after {
    content: "";
    position: absolute;
    top: -110%;
    left: -210%;
    width: 200%;
    height: 150%;
    opacity: 0;
    transform: rotate(30deg);
    background: rgba(255, 255, 255, 0.6);
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.13) 0%,
        rgba(255, 255, 255, 0.13) 77%,
        rgba(255, 255, 255, 0.5) 92%,
        rgba(255, 255, 255, 0.0) 100%
    );
    }

    // btn hover states
    &:hover:after {
    opacity: 1;
    top: -30%;
    left: -30%;
    transition-property: left, top, opacity;
    transition-duration: 0.7s, 0.7s, 0.15s;
    transition-timing-function: ease;
    }

    // btn active states
    &:active:after {
    opacity: 0;
    }

    &--header {
        opacity: 0;
        animation: mainMenuButton 1.5s linear forwards 4.2s;
        top: 64%;
    }

}

section.made-by {
    height: 42px;
    font-size: 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: #ccc;

    p {
        margin: 0;
    }

    a {
        color: black;
        text-decoration: none;
        font-weight: 700;
    }
}

