
#heroVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.5);
    }
}

.header {
    height: 100vh;
    width: 100%;
    background: url('../../images/martini-cocktail-on-glass-hd-wallpaper.jpg');
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: center;
    align-items: center;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to bottom right,#323232,#323232);
        opacity: .6;
    }
    &__container{
        background-color: $primaryColorOpacity;
        // clip-path: polygon(0% 0%, 100% 20%, 100% 100%, 0% 80%);
        background-color: red;
        margin: 0 auto;
        height: 100%;
        width: 100%;
        min-width: 350px;
        display: flex;
        flex-wrap: wrap;
        &__side {
            width: 50%;
            height: 100%;
            // border: 1px solid black;
            position: relative;
            overflow: hidden;
        }
        &__left {
            // width:58%;
            
            animation: sideLeft 0.8s linear forwards 1.2s
        }
        &__right {
            // width: 42%;
            animation: sideRight 0.8s linear forwards 1.2s
        }

    }
    &__text {
        top: 40%;
        transform: translateY(-50%);
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 600;
        font-size: 6rem;
        & span {
            font-family: 'Playfair Display', serif;
            color: $accentFontColor;
            font-size: 3.6rem;
            font-weight: 400;
        }
        color: $primaryFontColor;
        // text-transform: uppercase;
        position: absolute;
        // top: 35%;
        transition: .4s;
        animation-fill-mode: forwards;
        animation-duration: 1s;
        &--left {
            right: 0px;
            animation: header-left-start .8s linear forwards 1.2s;
            &--end {
                animation: header-left-end .8s linear forwards 1.2s;
                right: -300px;
            }
        }
        &--right {
            animation: header-right-start .8s linear forwards 1.2s;
            left: 0px;
            &--end {
                animation: header-right-end .8s linear forwards 1.2s;
                left: -300px;
            }
        }
    }
    &__subheader {
        width: 100%;
        text-align: center;
        left: 50%;
        font-family: 'Playfair Display', serif;
        font-weight: 600;
        font-size: 3rem;
        position: absolute;
        top: 42%;
        opacity: 0;
        transform: translateX(-50%);
        color: white;
        animation: subheader .6s linear forwards 2.6s;
    }
   

}

@keyframes header-right-start {
    0% {
        left: 0px;
    }
    100% {
        left: -300px;
    }
}

@keyframes header-left-start {
    0% {
        right: 0px;
    }
    100% {
        right: -300px;
    }
}

@keyframes header-right-end {
    0% {
        left: -300px;
    }
    100% {
        left: 4px;
    }
}

@keyframes header-left-end {
    0% {
        right: -300px;
    }
    100% {
        right: 4px;
    }
}

@keyframes sideLeft {
    0% {
        width: 50%;
    }
    100% {
        width: calc(50% + 30px);
    }
}

@keyframes sideRight {
    0% {
        width: 50%;
    }
    100% {
        width: calc(50% - 30px);
    }
}

@keyframes subheader {
    0% {
        top: 42%;
        opacity: 0;
    }
    100% {
        top: 48%;
        opacity: 1;
    }
}

@keyframes mainMenuButton {
    0% {
        opacity: 0;
    }
    33% {
        opacity: 1;
        background-position: left;
    }
    100% {
        opacity: 1;
        background-position: right;
    }
}

