.logo-wrapper {
    // position: relative;
    z-index: 10;
    img {
        position: absolute;
        top: 25px;
        left: 30px;
        width: 50px;
        height: 50px;
    }
    h1 {
        position: absolute;
        top: 15px;
        font-size: 3rem;
        color: white;
        left: -200px;
        animation: logo 0.5s linear forwards 1.6s;
        span {
            font-family: $primaryFont;
            font-weight: 400;
            font-size: 2rem;
            color: $buttonColor;
        }
    }
}

.question-button {
    z-index: 2;
    position: absolute;
    background-color: $buttonColor;
    padding: 7px 20px;
    font-size: 3rem;
    border: none;
    top: 25px;
    right: 30px;
}

.question-modal {
    z-index: 2;
    position: absolute;
    background-color: $buttonColor;
    width: 300px;
    height: 330px;
    display:none;
    padding: 25px;
    color: white;
    border-radius: 3px;
    font-size: 1.8rem;
    text-align: left;

    .additional-instructions {
        display: none;
    }

    h3 {
        font-family: $primaryFont;
        text-align: center;
        font-size: 2.3rem;
    }
}

.show {
    display: block;
}

#heroVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.5);
    }
    display: none;
}

.header {
    height: 100vh;
    width: 100%;
    background: url('../../images/mobile-background.jpg');
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: center;
    align-items: center;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: url(../../images/mobile-background.jpg);
        background-size: cover;
        opacity: 0.5;
    }
    &__container{
        background-color: $primaryColorOpacity;
        background-color: #444;
        margin: 0 auto;
        height: 100%;
        width: 100%;
        min-width: 350px;
        display: flex;
        flex-wrap: wrap;
        &__side {
            width: 50%;
            height: 100%;
            // border: 1px solid black;
            position: relative;
            overflow: hidden;
        }
        &__left {
            // width:58%;

            animation: sideLeft 0.8s linear forwards 1.5s
        }
        &__right {
            // width: 42%;
            animation: sideRight 0.8s linear forwards 1.5s
        }

    }
    &__text {
        top: 40%;
        transform: translateY(-50%);
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 600;
        font-size: 6rem;
        & span {
            font-family: 'Playfair Display', serif;
            color: $accentFontColor;
            font-size: 3.6rem;
            font-weight: 400;
        }
        color: $primaryFontColor;
        // text-transform: uppercase;
        position: absolute;
        // top: 35%;
        transition: .4s;
        animation-fill-mode: forwards;
        animation-duration: 1s;
        &--left {
            right: 0px;
            animation: header-left-start .8s linear forwards 1.5s;
            &--end {
                animation: header-left-end .8s linear forwards 1.5s;
                right: -300px;
            }
        }
        &--right {
            animation: header-right-start .8s linear forwards 1.5s;
            left: 0px;
            &--end {
                animation: header-right-end .8s linear forwards 1.5s;
                left: -300px;
            }
        }
    }
    &__subheader {
        width: 100%;
        text-align: center;
        left: 50%;
        font-family: 'Playfair Display', serif;
        font-weight: 600;
        font-size: 3rem;
        position: absolute;
        top: 42%;
        opacity: 0;
        transform: translateX(-50%);
        color: white;
        animation: subheader .6s linear forwards 2.6s;
    }


}

@keyframes logo {
    0% {
        left: -200px;
    }
    100% {
        left: 85px;
    }
}

@keyframes header-right-start {
    0% {
        left: 0px;
    }
    99% {
        left: -250px;
    }
    100% {
        opacity: 0;
    }
}

@keyframes header-left-start {
    0% {
        right: 0px;
    }
    99% {
        right: -250px;
    }
    100% {
        opacity: 0;
    }
}

@keyframes header-right-end {
    0% {
        left: -300px;
    }
    100% {
        left: 4px;
    }
}

@keyframes header-left-end {
    0% {
        right: -300px;
    }
    100% {
        right: 4px;
    }
}

@keyframes sideLeft {
    0% {
        width: 50%;
    }
    100% {
        width: calc(50% + 30px);
    }
}

@keyframes sideRight {
    0% {
        width: 50%;
    }
    100% {
        width: calc(50% - 30px);
    }
}

@keyframes subheader {
    0% {
        top: 42%;
        opacity: 0;
    }
    100% {
        top: 48%;
        opacity: 1;
    }
}

@keyframes mainMenuButton {
    0% {
        opacity: 0;
    }
    33% {
        opacity: 1;
        background-position: left;
    }
    99% {
        opacity: 1;
        background-position: right;
    }
    100%{
        opacity: 1;
        background-color: $buttonColor;
    }
}

@media (min-width:401px){
    .question-modal {
        width: 400px;
        height: 400px;

        .additional-instructions {
            display: block;
        }
    }

    #heroVideo {
        display: block;
    }

    .header__container {
        &__right {
            width: calc(50% - 30px);
        }
        &__left {
            width: calc(50% + 30px);
        }
    }
}


@media (max-width: 400px){

    .header__container {
        &__right {
            width: calc(50% - 20px);
        }
        &__left {
            width: calc(50% + 20px);
        }
    }

    .header {
        &__text {
            font-size: 4.3rem;
            top: 42%;
            & span {
                font-size: 2.8rem;
            }
        }
        &__subheader {
            font-size: 2.5rem;
        }
    }

}



@keyframes sideLeft {
    0% {
        width: 50%;
    }
    100% {
        width: calc(50% + 20px);
    }
}

@keyframes sideRight {
    0% {
        width: 50%;
    }
    100% {
        width: calc(50% - 20px);
    }
}










