
$primaryFont: 'Playfair Display', serif;
$secondaryFont: 'Source Sans Pro', sans-serif;


$primaryColor:#56638A;
$primaryColorOpacity: rgba(86,99, 138, 0.733);
$secondaryColor: #323232;

$primaryFontColor: white;
$secondaryFontColor: black;
$accentFontColor: #ffcc00;
$buttonColor: #ddab0a;


$buttonHover: red;

@mixin header {
    font-family: $primaryFont;
    letter-spacing: 0.125rem;
    font-weight: 400;
    color: white;
    font-size: 2.5rem;
    text-align: center;
}