html {
    font-size: 62.5%;
}

$primaryFont: 'Playfair Display', serif;
$secondaryFont: 'Source Sans Pro', sans-serif;


$primaryColor:#56638A;
$primaryColorOpacity: rgba(86,99, 138, 0.733);
$secondaryColor: #323232;

$primaryFontColor: white;
$secondaryFontColor: black;
$accentFontColor: #ffcc00;


$buttonHover: red;


$resultsPage: darkred;

@mixin header {
    font-family: $primaryFont;
    text-transform: uppercase;
    color: white;
    font-size: 2rem;
    text-align: center;
}