.section {
    width: 100%;
    height: 100vh;
    &1 {
        background-color: #444;
    }
    &2 {
       background-color: #565656;
    }
    &3 {
        background-color: #6b6b6b;
    }
    &4 {
       background-color: #888;
    }
    &--results{
        background-color: $resultsPage;
    }

    & h3 {
        @include header;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 90px;
        margin: 0;
    }
}

form {
    width: 100%;
    height: calc(100% - 90px);
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    // justify-content: center;
    // border: 1px solid white;
}

label {
    width: 100%;
    max-width: 250px;
    font-size: 2.3rem;
    font-weight: 400;
    padding: 30px 0;
    text-align: center;
    cursor: pointer;
    box-shadow:
    0.4em 0.4em 0 0 $buttonColor,
    inset 0.4em 0.4em 0 0 $buttonColor;
    transition: 0.3s;
    color: $accentFontColor;

    &:hover {
        // background-color: $buttonHover;
        font-weight: 700;
        border-color: $buttonColor;
        color: white;
        box-shadow:
            0 0 0 0 $buttonColor,
            inset 8em 8em 0 0 $buttonColor;
    }

    &:focus {
        font-weight: 700;
        border-color: $buttonColor;
        color: white;
        box-shadow:
      0 0 0 0 $buttonColor,
      inset 8em 8em 0 0 $buttonColor;
    }
    &::before {

    }
    &::after {

    }
}

input[type="radio"]:checked + label{
    font-weight: 700;
        border-color: $buttonColor;
        color: white;
        box-shadow:
      0 0 0 0 $buttonColor,
      inset 8em 8em 0 0 $buttonColor;
}



// Multiple shadows, one on the outside, another on the inside
.offset {
  box-shadow:
    0.3em 0.3em 0 0 var(--color),
    inset 0.3em 0.3em 0 0 var(--color);

  &:hover,
  &:focus {
    box-shadow:
      0 0 0 0 var(--hover),
      inset 6em 3.5em 0 0 var(--hover);
  }
}

input[type='radio'] {
    display: none;
}


@media (min-width: 750px) {
    .section {
        height: 50vh;
    }

    form {
        height: calc(50vh - 90px);
        flex-direction: row;
        padding: 0;
    }
}