.section {
    width: 100%;
    height: 100vh;
    border: 1px solid black;
    &1 {
        background-color: $primaryColor;
    }
    &2 {
       background-color: $secondaryColor; 
    }
    &3 {
        background-color: $primaryColor;
    }
    &4 {
       background-color: $secondaryColor; 
    }
    &--results{
        background-color: $resultsPage;
    }

    & h3 {
        @include header;
    }
}

form {
    width: 100%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid white;
}

label {
    width: 100%;
    border: 1px solid yellow;
    cursor: pointer;
    &:hover {
        background-color: $buttonHover;
    }
    &::before {

    }
    &::after {

    }
}

input[type='radio'] {
    display: none;
}