.section {
    width: 100%;
    height: 100vh;
    &1 {
        background-color: #444;
    }
    &2 {
       background-color: #565656;
    }
    &3 {
        background-color: #6b6b6b;
    }
    &4 {
       background-color: #888;
    }

    & h3 {
        @include header;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin: 0;
        padding: 50px 15px 0;
    }
}

form {
    width: 100%;
    height: calc(100% - 90px);
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    // justify-content: center;
    // border: 1px solid white;
}

label {
    width: 100%;
    max-width: 250px;
    font-size: 2.3rem;
    font-weight: 400;
    padding: 30px 0;
    text-align: center;
    cursor: pointer;
    box-shadow:
    0.4em 0.4em 0 0 $buttonColor,
    inset 0.4em 0.4em 0 0 $buttonColor;
    transition: 0.3s;
    color: $accentFontColor;

    &:hover {
        // background-color: $buttonHover;
        font-weight: 700;
        border-color: $buttonColor;
        color: white;
        box-shadow:
            0 0 0 0 $buttonColor,
            inset 8em 8em 0 0 $buttonColor;
    }

    &:focus {
        font-weight: 700;
        border-color: $buttonColor;
        color: white;
        box-shadow:
      0 0 0 0 $buttonColor,
      inset 8em 8em 0 0 $buttonColor;
    }
    &::before {

    }
    &::after {

    }
}

input[type="radio"]:checked + label{
    font-weight: 700;
        border-color: $buttonColor;
        color: white;
        box-shadow:
      0 0 0 0 $buttonColor,
      inset 8em 8em 0 0 $buttonColor;
}

input[type='radio'] {
    display: none;
}

#submit {
    width: 100%;
    height: 15vh;
    background-color: #ddab0a;
    border: none;
    color: white;
    font-size: 3.2rem;
    font-weight: 600;
    position: relative;
    overflow: hidden;
    &:after {
    content: "";
    position: absolute;
    top: -100%;
    left: -200%;
    width: 200%;
    height: 150%;
    opacity: 0;
    transform: rotate(30deg);
    background: rgba(255, 255, 255, 0.6);
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.13) 0%,
        rgba(255, 255, 255, 0.13) 77%,
        rgba(255, 255, 255, 0.5) 92%,
        rgba(255, 255, 255, 0.0) 100%
    );
    opacity: 1;
    top: -20%;
    left: -33%;
    }

}


@media (min-width: 750px) {
    .section {
        height: 50vh;
    }

    form {
        height: calc(50vh - 90px);
        flex-direction: row;
        padding: 0;
    }

    #submit {
        background-position: left;
        background-size: 300% 100%;
        overflow: hidden;
        transition: all 1s;

        &:after {
            content: "";
            position: absolute;
            top: -110%;
            left: -210%;
            width: 300%;
            height: 150%;
            opacity: 0;
            transform: rotate(30deg);
            background: rgba(255, 255, 255, 0.6);
            background: linear-gradient(
                to right,
                rgba(255, 255, 255, 0.13) 0%,
                rgba(255, 255, 255, 0.13) 77%,
                rgba(255, 255, 255, 0.5) 92%,
                rgba(255, 255, 255, 0.0) 100%
            );
        }

        // btn hover states
        &:hover:after {
            opacity: 1;
            top: -30%;
            left: -30%;
            transition-property: left, top, opacity;
            transition-duration: 0.7s, 0.7s, 0.15s;
            transition-timing-function: ease;
        }
    }
}