// container
.section--results {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    display: none;
    #planAnother {
        width: 100%;
        height: 10vh;
        background-color: #ddab0a;
        border: none;
        color: white;
        font-size: 3.2rem;
        font-weight: 600;
        position: relative;
        overflow: hidden;
        &:after {
        content: "";
        position: absolute;
        top: -100%;
        left: -200%;
        width: 200%;
        height: 150%;
        opacity: 0;
        transform: rotate(30deg);
        background: rgba(255, 255, 255, 0.6);
        background: linear-gradient(
            to right,
            rgba(255, 255, 255, 0.13) 0%,
            rgba(255, 255, 255, 0.13) 77%,
            rgba(255, 255, 255, 0.5) 92%,
            rgba(255, 255, 255, 0.0) 100%
        );
        opacity: 1;
        top: -20%;
        left: -33%;
        }

    }
}



.result {
    display: flex;
    background-color: #444;
    width: 100%;
    height: 45vh;
    position: relative;


    &-title {
        position: absolute;
        right: 0;
        background-color: #444;
        width: 50%;
        font-size: 2rem;
    }

    .another-drink,
    .another-movie {
        background-color: #ddab0a;
        border: none;
        font-size: 1.6rem;
        padding: 12px 15px;
        bottom: 39px;

        &:after {
            content: "";
            position: absolute;
            top: -100%;
            left: -200%;
            width: 200%;
            height: 150%;
            opacity: 0;
            transform: rotate(30deg);
            background: rgba(255, 255, 255, 0.6);
            background: linear-gradient(
                to right,
                rgba(255, 255, 255, 0.13) 0%,
                rgba(255, 255, 255, 0.13) 77%,
                rgba(255, 255, 255, 0.5) 92%,
                rgba(255, 255, 255, 0.0) 100%
            );
            opacity: 1;
            top: -20%;
            left: -33%;
        }
    }

    .another-movie {
        right: 25%;
        transform: translateX(50%);
    }

    .another-drink {
        left: 25%;
        transform: translateX(-50%);
    }

}

.movies-result__container,
.drinks-result__container {
    position: relative;

    .more-info {
        display: block;
        font-family: $primaryFont;
        padding: 0;
        height: 52px;
        width: 52px;

    }

    h3 {
        font-size: 2rem;
        font-weight: 700;
        padding-top: 30px;
    }
}

.movies-result__container {
    .more-info {
        left: 75%;
    }
}

.cocktail-svg,
.ticket-svg {
    display: none;
}

.drinks-result__container {
    .more-info {
        left: 25%;
    }

    h3 {
        left: 0;
        right: auto;
    }
}

.results__image-container {
    width: 100%;
    height: 100%;
    .drink-image,
    .movie-image {
        height: 100%;
        width: 50%;
        object-fit: cover;
    }

    .drink-image {
        float: right;
    }
}


.drink-image:hover + .more-info{
    display: block;
}

.movie-image:hover + .more-info{
    display: block;
}


//wrap this in an image container
.more-info {
    left: 50%;
    top: 50%;
    background-color: #ddab0a;
    transform: translate(-50%, -50%);
    display: none;
    &:hover {
        display: block;
    }
}


.additional-drink-info,
.additional-movie-info {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #565656;
    color: white;
    font-size: 2rem;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .fa-times {
        font-size: 4rem;
        color: $accentFontColor;
        position: absolute;
        right: 20px;
        top: 20px;
        cursor: pointer;
    }
}

.additional-drink-info {
    display: none;
    height: 200%;

    h3 {
        font-size: 2.6rem;
    }

    .ingredients-container {
        display: flex;
        justify-content: center;
        margin: 30px 0;

        .measurement-list {
            margin-right: 15px;
            color: $accentFontColor;
        }

        li {
            font-weight: 700;
            // font-size: 1.5rem;
        }

    }
}

.additional-movie-info {
    display:none;
    height: 200%;
    top: -100%;

    h3 {
        font-size: 2.6rem;
        padding-top: 0;
    }

    .movie-rating {
        font-weight: 700;
        font-size: 2.3rem;
        color: $accentFontColor;
    }

    .movie-release-date {
        font-weight: 700;
        font-size: 2.3rem;
        margin-top: 0;
    }

    .movie-overview {
        // text-overflow: ellipsis;
        // /* Required for text-overflow to do anything */
        // white-space: nowrap;
        // overflow: hidden;
        // -webkit-line-clamp: 7;
        // -webkit-box-orient: vertical;
    }


}

@media (min-width: 750px) {
    .result {
        background-color: #444;
        width: 100%;
        height: 100vh;
        position: relative;
    &-title {
        height: 30px;
        position: relative;
        }
    }


    .section--results {
        height: 115vh;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        display: none;

        #planAnother {
            font-size: 3.2rem;
            font-weight: 600;
            height: 15vh;
            position: relative;
            background-position: left;
            background-size: 300% 100%;
            overflow: hidden;
            transition: all 1s;

            &:after {
                content: "";
                position: absolute;
                top: -110%;
                left: -210%;
                width: 300%;
                height: 150%;
                opacity: 0;
                transform: rotate(30deg);
                background: rgba(255, 255, 255, 0.6);
                background: linear-gradient(
                    to right,
                    rgba(255, 255, 255, 0.13) 0%,
                    rgba(255, 255, 255, 0.13) 77%,
                    rgba(255, 255, 255, 0.5) 92%,
                    rgba(255, 255, 255, 0.0) 100%
                );
            }

            // btn hover states
            &:hover:after {
                opacity: 1;
                top: -30%;
                left: -30%;
                transition-property: left, top, opacity;
                transition-duration: 0.7s, 0.7s, 0.15s;
                transition-timing-function: ease;
            }
        }
    }


    .result {
        display: flex;
        justify-content: center;
        // flex-direction: column;
        width: 50%;
        padding-bottom: 50px;
        .another-movie,
        .another-drink {
            margin: 0 auto;
            left: auto;
            right: auto;
            transform: none;
            font-size: 2rem;
            background-position: left;
            background-size: 300% 100%;
            overflow: hidden;
            transition: all 1s;

            &:after {
                content: "";
                position: absolute;
                top: -110%;
                left: -210%;
                width: 200%;
                height: 150%;
                opacity: 0;
                transform: rotate(30deg);
                background: rgba(255, 255, 255, 0.6);
                background: linear-gradient(
                    to right,
                    rgba(255, 255, 255, 0.13) 0%,
                    rgba(255, 255, 255, 0.13) 77%,
                    rgba(255, 255, 255, 0.5) 92%,
                    rgba(255, 255, 255, 0.0) 100%
                );
            }

            // btn hover states
            &:hover:after {
                opacity: 1;
                top: -30%;
                left: -30%;
                transition-property: left, top, opacity;
                transition-duration: 0.7s, 0.7s, 0.15s;
                transition-timing-function: ease;
            }
        }
    }

    .results__image-container {
        margin: 0 auto;
        // margin-top: 50px;
        position: relative;
        width: calc(100% - 80px);
        max-width: 400px;
        height: calc(100% - 240px);

        .drink-image,
        .movie-image {
            width: 100%;
            height: 100%;
            border: 5px solid $accentFontColor;
            padding: 20px;
        }

        .cocktail-svg,
        .ticket-svg {
            position: absolute;
            display: block;
        }

        .ticket-svg {
            width: 100px;
            top: -10px;
            left: -44px;
            transform: rotate(-40deg);
        }

        .cocktail-svg {
            width: 90px;
            top: -30px;
            left: -50px;
            transform: rotate(-20deg);
        }

    }

    .movies-result__container,
    .drinks-result__container {
        margin: 0 auto;
        .more-info {
            left: 50%;
            bottom:35px;
            top: auto;
            margin: 0 auto;
        }
        h3 {
            width: 100%;
            position: relative;
            margin: 40px 0;
            font-size: 2.6rem;
        }

    }
    .additional-movie-info,
    .additional-drink-info {
        height: 100%;
        top: 25px;
   }
}