//container
.section--results {
    position: relative;
}

.result {
    position: absolute;
    border: 1px solid yellow;
    background-color: red;
    width: 100%;
    height: 100%;
}





.additional-drink-info {
    display: none;
}

.additional-movie-info {
    display: none;
}
