article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: "Source Sans Pro", sans-serif; }

li {
  list-style: none; }

ul {
  padding: 0;
  margin: 0; }

.wrapper {
  overflow: hidden;
  width: 100vw; }

.button {
  position: absolute;
  border-radius: 34px;
  padding: 15px 27px;
  border: 2px solid #ddab0a;
  font-weight: 700;
  background-position: left;
  background: -webkit-gradient(linear, left top, right top, color-stop(33%, transparent), color-stop(66%, #ddab0a));
  background: linear-gradient(to right, transparent 33%, #ddab0a 66%);
  background-size: 300% 100%;
  overflow: hidden;
  color: white;
  font-size: 2.5rem;
  -webkit-transition: all 1s;
  transition: all 1s; }
  .button:hover {
    background-position: right; }
  .button:after {
    content: "";
    position: absolute;
    top: -110%;
    left: -210%;
    width: 200%;
    height: 150%;
    opacity: 0;
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
    background: rgba(255, 255, 255, 0.6);
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.13)), color-stop(77%, rgba(255, 255, 255, 0.13)), color-stop(92%, rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0)));
    background: linear-gradient(to right, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.13) 77%, rgba(255, 255, 255, 0.5) 92%, rgba(255, 255, 255, 0) 100%); }
  .button:hover:after {
    opacity: 1;
    top: -30%;
    left: -30%;
    -webkit-transition-property: left, top, opacity;
    transition-property: left, top, opacity;
    -webkit-transition-duration: 0.7s, 0.7s, 0.15s;
            transition-duration: 0.7s, 0.7s, 0.15s;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease; }
  .button:active:after {
    opacity: 0; }
  .button--header {
    opacity: 0;
    -webkit-animation: mainMenuButton 1.5s linear forwards 4.2s;
            animation: mainMenuButton 1.5s linear forwards 4.2s;
    top: 64%; }

#heroVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%; }
  #heroVideo:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5); }

.header {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .header:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: -webkit-gradient(linear, left top, right bottom, from(#323232), to(#323232));
    background-image: linear-gradient(to bottom right, #323232, #323232);
    opacity: .6; }
  .header__container {
    background-color: rgba(86, 99, 138, 0.733);
    background-color: #444;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    min-width: 350px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .header__container__side {
      width: 50%;
      height: 100%;
      position: relative;
      overflow: hidden; }
    .header__container__left {
      -webkit-animation: sideLeft 0.8s linear forwards 1.5s;
              animation: sideLeft 0.8s linear forwards 1.5s; }
    .header__container__right {
      -webkit-animation: sideRight 0.8s linear forwards 1.5s;
              animation: sideRight 0.8s linear forwards 1.5s; }
  .header__text {
    top: 40%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 6rem;
    color: white;
    position: absolute;
    -webkit-transition: .4s;
    transition: .4s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
            animation-duration: 1s; }
    .header__text span {
      font-family: 'Playfair Display', serif;
      color: #ffcc00;
      font-size: 3.6rem;
      font-weight: 400; }
    .header__text--left {
      right: 0px;
      -webkit-animation: header-left-start .8s linear forwards 1.5s;
              animation: header-left-start .8s linear forwards 1.5s; }
      .header__text--left--end {
        -webkit-animation: header-left-end .8s linear forwards 1.5s;
                animation: header-left-end .8s linear forwards 1.5s;
        right: -300px; }
    .header__text--right {
      -webkit-animation: header-right-start .8s linear forwards 1.5s;
              animation: header-right-start .8s linear forwards 1.5s;
      left: 0px; }
      .header__text--right--end {
        -webkit-animation: header-right-end .8s linear forwards 1.5s;
                animation: header-right-end .8s linear forwards 1.5s;
        left: -300px; }
  .header__subheader {
    width: 100%;
    text-align: center;
    left: 50%;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-size: 3rem;
    position: absolute;
    top: 42%;
    opacity: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    color: white;
    -webkit-animation: subheader .6s linear forwards 2.6s;
            animation: subheader .6s linear forwards 2.6s; }

@-webkit-keyframes header-right-start {
  0% {
    left: 0px; }
  99% {
    left: -250px; }
  100% {
    opacity: 0; } }

@keyframes header-right-start {
  0% {
    left: 0px; }
  99% {
    left: -250px; }
  100% {
    opacity: 0; } }

@-webkit-keyframes header-left-start {
  0% {
    right: 0px; }
  99% {
    right: -250px; }
  100% {
    opacity: 0; } }

@keyframes header-left-start {
  0% {
    right: 0px; }
  99% {
    right: -250px; }
  100% {
    opacity: 0; } }

@-webkit-keyframes header-right-end {
  0% {
    left: -300px; }
  100% {
    left: 4px; } }

@keyframes header-right-end {
  0% {
    left: -300px; }
  100% {
    left: 4px; } }

@-webkit-keyframes header-left-end {
  0% {
    right: -300px; }
  100% {
    right: 4px; } }

@keyframes header-left-end {
  0% {
    right: -300px; }
  100% {
    right: 4px; } }

@-webkit-keyframes sideLeft {
  0% {
    width: 50%; }
  100% {
    width: calc(50% + 30px); } }

@keyframes sideLeft {
  0% {
    width: 50%; }
  100% {
    width: calc(50% + 30px); } }

@-webkit-keyframes sideRight {
  0% {
    width: 50%; }
  100% {
    width: calc(50% - 30px); } }

@keyframes sideRight {
  0% {
    width: 50%; }
  100% {
    width: calc(50% - 30px); } }

@-webkit-keyframes subheader {
  0% {
    top: 42%;
    opacity: 0; }
  100% {
    top: 48%;
    opacity: 1; } }

@keyframes subheader {
  0% {
    top: 42%;
    opacity: 0; }
  100% {
    top: 48%;
    opacity: 1; } }

@-webkit-keyframes mainMenuButton {
  0% {
    opacity: 0; }
  33% {
    opacity: 1;
    background-position: left; }
  99% {
    opacity: 1;
    background-position: right; }
  100% {
    opacity: 1;
    background-color: #ddab0a; } }

@keyframes mainMenuButton {
  0% {
    opacity: 0; }
  33% {
    opacity: 1;
    background-position: left; }
  99% {
    opacity: 1;
    background-position: right; }
  100% {
    opacity: 1;
    background-color: #ddab0a; } }

@media (min-width: 400px) {
  .header__container__right {
    width: calc(50% - 30px); }
  .header__container__left {
    width: calc(50% + 30px); } }

@media (max-width: 400px) {
  .header__container__right {
    width: calc(50% - 20px); }
  .header__container__left {
    width: calc(50% + 20px); }
  .header__text {
    font-size: 4.3rem;
    top: 42%; }
    .header__text span {
      font-size: 2.8rem; }
  .header__subheader {
    font-size: 2.5rem; }
  @-webkit-keyframes sideLeft {
    0% {
      width: 50%; }
    100% {
      width: calc(50% + 20px); } }
  @keyframes sideLeft {
    0% {
      width: 50%; }
    100% {
      width: calc(50% + 20px); } }
  @-webkit-keyframes sideRight {
    0% {
      width: 50%; }
    100% {
      width: calc(50% - 20px); } }
  @keyframes sideRight {
    0% {
      width: 50%; }
    100% {
      width: calc(50% - 20px); } } }

.section {
  width: 100%;
  height: 100vh; }
  .section1 {
    background-color: #444; }
  .section2 {
    background-color: #565656; }
  .section3 {
    background-color: #6b6b6b; }
  .section4 {
    background-color: #888; }
  .section--results {
    background-color: darkred; }
  .section h3 {
    font-family: "Playfair Display", serif;
    letter-spacing: 0.125rem;
    font-weight: 400;
    color: white;
    font-size: 2.5rem;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    height: 90px;
    margin: 0; }

form {
  width: 100%;
  height: calc(100% - 90px);
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

label {
  width: 100%;
  max-width: 250px;
  font-size: 2.3rem;
  font-weight: 400;
  padding: 30px 0;
  text-align: center;
  cursor: pointer;
  -webkit-box-shadow: 0.4em 0.4em 0 0 #ddab0a, inset 0.4em 0.4em 0 0 #ddab0a;
          box-shadow: 0.4em 0.4em 0 0 #ddab0a, inset 0.4em 0.4em 0 0 #ddab0a;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #ffcc00; }
  label:hover {
    font-weight: 700;
    border-color: #ddab0a;
    color: white;
    -webkit-box-shadow: 0 0 0 0 #ddab0a, inset 8em 8em 0 0 #ddab0a;
            box-shadow: 0 0 0 0 #ddab0a, inset 8em 8em 0 0 #ddab0a; }
  label:focus {
    font-weight: 700;
    border-color: #ddab0a;
    color: white;
    -webkit-box-shadow: 0 0 0 0 #ddab0a, inset 8em 8em 0 0 #ddab0a;
            box-shadow: 0 0 0 0 #ddab0a, inset 8em 8em 0 0 #ddab0a; }

input[type="radio"]:checked + label {
  font-weight: 700;
  border-color: #ddab0a;
  color: white;
  -webkit-box-shadow: 0 0 0 0 #ddab0a, inset 8em 8em 0 0 #ddab0a;
          box-shadow: 0 0 0 0 #ddab0a, inset 8em 8em 0 0 #ddab0a; }

.offset {
  -webkit-box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color);
          box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color); }
  .offset:hover, .offset:focus {
    -webkit-box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover);
            box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover); }

input[type='radio'] {
  display: none; }

@media (min-width: 750px) {
  .section {
    height: 50vh; }
  form {
    height: calc(50vh - 90px);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0; } }

.section--results {
  height: 50vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: none; }

.result {
  background-color: #444;
  width: 100%;
  height: 100%;
  position: relative; }
  .result-title {
    height: 30px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }

.result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding-bottom: 50px; }

.drink-image,
.movie-image {
  width: calc(100% - 100px);
  margin: 0 50px;
  max-width: 400px;
  height: calc(100% - 200px);
  margin-top: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px; }

.another-movie,
.another-drink {
  bottom: 20px; }

.additional-drink-info {
  display: none; }

.additional-movie-info {
  display: none; }

@media (min-width: 750px) {
  .result {
    background-color: #444;
    width: 100%;
    height: 100%;
    position: relative; }
    .result-title {
      height: 30px;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
  .section--results {
    height: 100vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .result {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 50%;
    padding-bottom: 50px; }
  .drink-image,
  .movie-image {
    width: calc(100% - 100px);
    margin: 0 50px;
    max-width: 400px;
    height: calc(100% - 200px);
    margin-top: 50px;
    -o-object-fit: cover;
       object-fit: cover; }
  .another-movie,
  .another-drink {
    bottom: 20px; } }
