article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: "Source Sans Pro", sans-serif; }

li {
  list-style: none; }

ul {
  padding: 0;
  margin: 0; }

.wrapper {
  overflow: hidden;
  width: 100vw; }

.button {
  position: absolute;
  border-radius: 34px;
  padding: 15px 27px;
  border: 2px solid #ddab0a;
  font-weight: 700;
  background-position: left;
  background: -webkit-gradient(linear, left top, right top, color-stop(33%, transparent), color-stop(66%, #ddab0a));
  background: linear-gradient(to right, transparent 33%, #ddab0a 66%);
  background-size: 300% 100%;
  overflow: hidden;
  color: white;
  font-size: 2.5rem;
  -webkit-transition: all 1s;
  transition: all 1s; }
  .button:hover {
    background-position: right; }
  .button:after {
    content: "";
    position: absolute;
    top: -110%;
    left: -210%;
    width: 200%;
    height: 150%;
    opacity: 0;
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
    background: rgba(255, 255, 255, 0.6);
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.13)), color-stop(77%, rgba(255, 255, 255, 0.13)), color-stop(92%, rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0)));
    background: linear-gradient(to right, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.13) 77%, rgba(255, 255, 255, 0.5) 92%, rgba(255, 255, 255, 0) 100%); }
  .button:hover:after {
    opacity: 1;
    top: -30%;
    left: -30%;
    -webkit-transition-property: left, top, opacity;
    transition-property: left, top, opacity;
    -webkit-transition-duration: 0.7s, 0.7s, 0.15s;
            transition-duration: 0.7s, 0.7s, 0.15s;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease; }
  .button:active:after {
    opacity: 0; }
  .button--header {
    opacity: 0;
    -webkit-animation: mainMenuButton 1.5s linear forwards 4.2s;
            animation: mainMenuButton 1.5s linear forwards 4.2s;
    top: 64%; }

section.made-by {
  height: 42px;
  font-size: 1.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  background-color: #ccc; }
  section.made-by p {
    margin: 0; }
  section.made-by a {
    color: black;
    text-decoration: none;
    font-weight: 700; }

.logo-wrapper {
  z-index: 10; }
  .logo-wrapper img {
    position: absolute;
    top: 25px;
    left: 30px;
    width: 50px;
    height: 50px; }
  .logo-wrapper h1 {
    position: absolute;
    top: 15px;
    font-size: 3rem;
    color: white;
    left: -200px;
    -webkit-animation: logo 0.5s linear forwards 1.6s;
            animation: logo 0.5s linear forwards 1.6s; }
    .logo-wrapper h1 span {
      font-family: "Playfair Display", serif;
      font-weight: 400;
      font-size: 2rem;
      color: #ddab0a; }

.question-button {
  z-index: 2;
  position: absolute;
  background-color: #ddab0a;
  padding: 7px 20px;
  font-size: 3rem;
  border: none;
  top: 25px;
  right: 30px; }

.question-modal {
  z-index: 2;
  position: absolute;
  background-color: #ddab0a;
  width: 300px;
  height: 330px;
  display: none;
  padding: 25px;
  color: white;
  border-radius: 3px;
  font-size: 1.8rem;
  text-align: left; }
  .question-modal .additional-instructions {
    display: none; }
  .question-modal h3 {
    font-family: "Playfair Display", serif;
    text-align: center;
    font-size: 2.3rem; }

.show {
  display: block; }

#heroVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  display: none; }
  #heroVideo:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5); }

.header {
  height: 100vh;
  width: 100%;
  background: url("../../images/mobile-background.jpg");
  background-size: cover;
  background-position: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .header:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(../../images/mobile-background.jpg);
    background-size: cover;
    opacity: 0.5; }
  .header__container {
    background-color: rgba(86, 99, 138, 0.733);
    background-color: #444;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    min-width: 350px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .header__container__side {
      width: 50%;
      height: 100%;
      position: relative;
      overflow: hidden; }
    .header__container__left {
      -webkit-animation: sideLeft 0.8s linear forwards 1.5s;
              animation: sideLeft 0.8s linear forwards 1.5s; }
    .header__container__right {
      -webkit-animation: sideRight 0.8s linear forwards 1.5s;
              animation: sideRight 0.8s linear forwards 1.5s; }
  .header__text {
    top: 40%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 6rem;
    color: white;
    position: absolute;
    -webkit-transition: .4s;
    transition: .4s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
            animation-duration: 1s; }
    .header__text span {
      font-family: 'Playfair Display', serif;
      color: #ffcc00;
      font-size: 3.6rem;
      font-weight: 400; }
    .header__text--left {
      right: 0px;
      -webkit-animation: header-left-start .8s linear forwards 1.5s;
              animation: header-left-start .8s linear forwards 1.5s; }
      .header__text--left--end {
        -webkit-animation: header-left-end .8s linear forwards 1.5s;
                animation: header-left-end .8s linear forwards 1.5s;
        right: -300px; }
    .header__text--right {
      -webkit-animation: header-right-start .8s linear forwards 1.5s;
              animation: header-right-start .8s linear forwards 1.5s;
      left: 0px; }
      .header__text--right--end {
        -webkit-animation: header-right-end .8s linear forwards 1.5s;
                animation: header-right-end .8s linear forwards 1.5s;
        left: -300px; }
  .header__subheader {
    width: 100%;
    text-align: center;
    left: 50%;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-size: 3rem;
    position: absolute;
    top: 42%;
    opacity: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    color: white;
    -webkit-animation: subheader .6s linear forwards 2.6s;
            animation: subheader .6s linear forwards 2.6s; }

@-webkit-keyframes logo {
  0% {
    left: -200px; }
  100% {
    left: 85px; } }

@keyframes logo {
  0% {
    left: -200px; }
  100% {
    left: 85px; } }

@-webkit-keyframes header-right-start {
  0% {
    left: 0px; }
  99% {
    left: -250px; }
  100% {
    opacity: 0; } }

@keyframes header-right-start {
  0% {
    left: 0px; }
  99% {
    left: -250px; }
  100% {
    opacity: 0; } }

@-webkit-keyframes header-left-start {
  0% {
    right: 0px; }
  99% {
    right: -250px; }
  100% {
    opacity: 0; } }

@keyframes header-left-start {
  0% {
    right: 0px; }
  99% {
    right: -250px; }
  100% {
    opacity: 0; } }

@-webkit-keyframes header-right-end {
  0% {
    left: -300px; }
  100% {
    left: 4px; } }

@keyframes header-right-end {
  0% {
    left: -300px; }
  100% {
    left: 4px; } }

@-webkit-keyframes header-left-end {
  0% {
    right: -300px; }
  100% {
    right: 4px; } }

@keyframes header-left-end {
  0% {
    right: -300px; }
  100% {
    right: 4px; } }

@-webkit-keyframes sideLeft {
  0% {
    width: 50%; }
  100% {
    width: calc(50% + 30px); } }

@keyframes sideLeft {
  0% {
    width: 50%; }
  100% {
    width: calc(50% + 30px); } }

@-webkit-keyframes sideRight {
  0% {
    width: 50%; }
  100% {
    width: calc(50% - 30px); } }

@keyframes sideRight {
  0% {
    width: 50%; }
  100% {
    width: calc(50% - 30px); } }

@-webkit-keyframes subheader {
  0% {
    top: 42%;
    opacity: 0; }
  100% {
    top: 48%;
    opacity: 1; } }

@keyframes subheader {
  0% {
    top: 42%;
    opacity: 0; }
  100% {
    top: 48%;
    opacity: 1; } }

@-webkit-keyframes mainMenuButton {
  0% {
    opacity: 0; }
  33% {
    opacity: 1;
    background-position: left; }
  99% {
    opacity: 1;
    background-position: right; }
  100% {
    opacity: 1;
    background-color: #ddab0a; } }

@keyframes mainMenuButton {
  0% {
    opacity: 0; }
  33% {
    opacity: 1;
    background-position: left; }
  99% {
    opacity: 1;
    background-position: right; }
  100% {
    opacity: 1;
    background-color: #ddab0a; } }

@media (min-width: 401px) {
  .question-modal {
    width: 400px;
    height: 400px; }
    .question-modal .additional-instructions {
      display: block; }
  #heroVideo {
    display: block; }
  .header__container__right {
    width: calc(50% - 30px); }
  .header__container__left {
    width: calc(50% + 30px); } }

@media (max-width: 400px) {
  .header__container__right {
    width: calc(50% - 20px); }
  .header__container__left {
    width: calc(50% + 20px); }
  .header__text {
    font-size: 4.3rem;
    top: 42%; }
    .header__text span {
      font-size: 2.8rem; }
  .header__subheader {
    font-size: 2.5rem; } }

@keyframes sideLeft {
  0% {
    width: 50%; }
  100% {
    width: calc(50% + 20px); } }

@keyframes sideRight {
  0% {
    width: 50%; }
  100% {
    width: calc(50% - 20px); } }

.section {
  width: 100%;
  height: 100vh; }
  .section1 {
    background-color: #444; }
  .section2 {
    background-color: #565656; }
  .section3 {
    background-color: #6b6b6b; }
  .section4 {
    background-color: #888; }
  .section h3 {
    font-family: "Playfair Display", serif;
    letter-spacing: 0.125rem;
    font-weight: 400;
    color: white;
    font-size: 2.5rem;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin: 0;
    padding: 50px 15px 0; }

form {
  width: 100%;
  height: calc(100% - 90px);
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

label {
  width: 100%;
  max-width: 250px;
  font-size: 2.3rem;
  font-weight: 400;
  padding: 30px 0;
  text-align: center;
  cursor: pointer;
  -webkit-box-shadow: 0.4em 0.4em 0 0 #ddab0a, inset 0.4em 0.4em 0 0 #ddab0a;
          box-shadow: 0.4em 0.4em 0 0 #ddab0a, inset 0.4em 0.4em 0 0 #ddab0a;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #ffcc00; }
  label:hover {
    font-weight: 700;
    border-color: #ddab0a;
    color: white;
    -webkit-box-shadow: 0 0 0 0 #ddab0a, inset 8em 8em 0 0 #ddab0a;
            box-shadow: 0 0 0 0 #ddab0a, inset 8em 8em 0 0 #ddab0a; }
  label:focus {
    font-weight: 700;
    border-color: #ddab0a;
    color: white;
    -webkit-box-shadow: 0 0 0 0 #ddab0a, inset 8em 8em 0 0 #ddab0a;
            box-shadow: 0 0 0 0 #ddab0a, inset 8em 8em 0 0 #ddab0a; }

input[type="radio"]:checked + label {
  font-weight: 700;
  border-color: #ddab0a;
  color: white;
  -webkit-box-shadow: 0 0 0 0 #ddab0a, inset 8em 8em 0 0 #ddab0a;
          box-shadow: 0 0 0 0 #ddab0a, inset 8em 8em 0 0 #ddab0a; }

input[type='radio'] {
  display: none; }

#submit {
  width: 100%;
  height: 15vh;
  background-color: #ddab0a;
  border: none;
  color: white;
  font-size: 3.2rem;
  font-weight: 600;
  position: relative;
  overflow: hidden; }
  #submit:after {
    content: "";
    position: absolute;
    top: -100%;
    left: -200%;
    width: 200%;
    height: 150%;
    opacity: 0;
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
    background: rgba(255, 255, 255, 0.6);
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.13)), color-stop(77%, rgba(255, 255, 255, 0.13)), color-stop(92%, rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0)));
    background: linear-gradient(to right, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.13) 77%, rgba(255, 255, 255, 0.5) 92%, rgba(255, 255, 255, 0) 100%);
    opacity: 1;
    top: -20%;
    left: -33%; }

@media (min-width: 750px) {
  .section {
    height: 50vh; }
  form {
    height: calc(50vh - 90px);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0; }
  #submit {
    background-position: left;
    background-size: 300% 100%;
    overflow: hidden;
    -webkit-transition: all 1s;
    transition: all 1s; }
    #submit:after {
      content: "";
      position: absolute;
      top: -110%;
      left: -210%;
      width: 300%;
      height: 150%;
      opacity: 0;
      -webkit-transform: rotate(30deg);
              transform: rotate(30deg);
      background: rgba(255, 255, 255, 0.6);
      background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.13)), color-stop(77%, rgba(255, 255, 255, 0.13)), color-stop(92%, rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0)));
      background: linear-gradient(to right, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.13) 77%, rgba(255, 255, 255, 0.5) 92%, rgba(255, 255, 255, 0) 100%); }
    #submit:hover:after {
      opacity: 1;
      top: -30%;
      left: -30%;
      -webkit-transition-property: left, top, opacity;
      transition-property: left, top, opacity;
      -webkit-transition-duration: 0.7s, 0.7s, 0.15s;
              transition-duration: 0.7s, 0.7s, 0.15s;
      -webkit-transition-timing-function: ease;
              transition-timing-function: ease; } }

.section--results {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: none; }
  .section--results #planAnother {
    width: 100%;
    height: 10vh;
    background-color: #ddab0a;
    border: none;
    color: white;
    font-size: 3.2rem;
    font-weight: 600;
    position: relative;
    overflow: hidden; }
    .section--results #planAnother:after {
      content: "";
      position: absolute;
      top: -100%;
      left: -200%;
      width: 200%;
      height: 150%;
      opacity: 0;
      -webkit-transform: rotate(30deg);
              transform: rotate(30deg);
      background: rgba(255, 255, 255, 0.6);
      background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.13)), color-stop(77%, rgba(255, 255, 255, 0.13)), color-stop(92%, rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0)));
      background: linear-gradient(to right, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.13) 77%, rgba(255, 255, 255, 0.5) 92%, rgba(255, 255, 255, 0) 100%);
      opacity: 1;
      top: -20%;
      left: -33%; }

.result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #444;
  width: 100%;
  height: 45vh;
  position: relative; }
  .result-title {
    position: absolute;
    right: 0;
    background-color: #444;
    width: 50%;
    font-size: 2rem; }
  .result .another-drink,
  .result .another-movie {
    background-color: #ddab0a;
    border: none;
    font-size: 1.6rem;
    padding: 12px 15px;
    bottom: 39px; }
    .result .another-drink:after,
    .result .another-movie:after {
      content: "";
      position: absolute;
      top: -100%;
      left: -200%;
      width: 200%;
      height: 150%;
      opacity: 0;
      -webkit-transform: rotate(30deg);
              transform: rotate(30deg);
      background: rgba(255, 255, 255, 0.6);
      background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.13)), color-stop(77%, rgba(255, 255, 255, 0.13)), color-stop(92%, rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0)));
      background: linear-gradient(to right, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.13) 77%, rgba(255, 255, 255, 0.5) 92%, rgba(255, 255, 255, 0) 100%);
      opacity: 1;
      top: -20%;
      left: -33%; }
  .result .another-movie {
    right: 25%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%); }
  .result .another-drink {
    left: 25%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }

.movies-result__container,
.drinks-result__container {
  position: relative; }
  .movies-result__container .more-info,
  .drinks-result__container .more-info {
    display: block;
    font-family: "Playfair Display", serif;
    padding: 0;
    height: 52px;
    width: 52px; }
  .movies-result__container h3,
  .drinks-result__container h3 {
    font-size: 2rem;
    font-weight: 700;
    padding-top: 30px; }

.movies-result__container .more-info {
  left: 75%; }

.cocktail-svg,
.ticket-svg {
  display: none; }

.drinks-result__container .more-info {
  left: 25%; }

.drinks-result__container h3 {
  left: 0;
  right: auto; }

.results__image-container {
  width: 100%;
  height: 100%; }
  .results__image-container .drink-image,
  .results__image-container .movie-image {
    height: 100%;
    width: 50%;
    -o-object-fit: cover;
       object-fit: cover; }
  .results__image-container .drink-image {
    float: right; }

.drink-image:hover + .more-info {
  display: block; }

.movie-image:hover + .more-info {
  display: block; }

.more-info {
  left: 50%;
  top: 50%;
  background-color: #ddab0a;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none; }
  .more-info:hover {
    display: block; }

.additional-drink-info,
.additional-movie-info {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #565656;
  color: white;
  font-size: 2rem;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .additional-drink-info .fa-times,
  .additional-movie-info .fa-times {
    font-size: 4rem;
    color: #ffcc00;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer; }

.additional-drink-info {
  display: none;
  height: 200%; }
  .additional-drink-info h3 {
    font-size: 2.6rem; }
  .additional-drink-info .ingredients-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 30px 0; }
    .additional-drink-info .ingredients-container .measurement-list {
      margin-right: 15px;
      color: #ffcc00; }
    .additional-drink-info .ingredients-container li {
      font-weight: 700; }

.additional-movie-info {
  display: none;
  height: 200%;
  top: -100%; }
  .additional-movie-info h3 {
    font-size: 2.6rem;
    padding-top: 0; }
  .additional-movie-info .movie-rating {
    font-weight: 700;
    font-size: 2.3rem;
    color: #ffcc00; }
  .additional-movie-info .movie-release-date {
    font-weight: 700;
    font-size: 2.3rem;
    margin-top: 0; }

@media (min-width: 750px) {
  .result {
    background-color: #444;
    width: 100%;
    height: 100vh;
    position: relative; }
    .result-title {
      height: 30px;
      position: relative; }
  .section--results {
    height: 115vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    display: none; }
    .section--results #planAnother {
      font-size: 3.2rem;
      font-weight: 600;
      height: 15vh;
      position: relative;
      background-position: left;
      background-size: 300% 100%;
      overflow: hidden;
      -webkit-transition: all 1s;
      transition: all 1s; }
      .section--results #planAnother:after {
        content: "";
        position: absolute;
        top: -110%;
        left: -210%;
        width: 300%;
        height: 150%;
        opacity: 0;
        -webkit-transform: rotate(30deg);
                transform: rotate(30deg);
        background: rgba(255, 255, 255, 0.6);
        background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.13)), color-stop(77%, rgba(255, 255, 255, 0.13)), color-stop(92%, rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0)));
        background: linear-gradient(to right, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.13) 77%, rgba(255, 255, 255, 0.5) 92%, rgba(255, 255, 255, 0) 100%); }
      .section--results #planAnother:hover:after {
        opacity: 1;
        top: -30%;
        left: -30%;
        -webkit-transition-property: left, top, opacity;
        transition-property: left, top, opacity;
        -webkit-transition-duration: 0.7s, 0.7s, 0.15s;
                transition-duration: 0.7s, 0.7s, 0.15s;
        -webkit-transition-timing-function: ease;
                transition-timing-function: ease; }
  .result {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 50%;
    padding-bottom: 50px; }
    .result .another-movie,
    .result .another-drink {
      margin: 0 auto;
      left: auto;
      right: auto;
      -webkit-transform: none;
              transform: none;
      font-size: 2rem;
      background-position: left;
      background-size: 300% 100%;
      overflow: hidden;
      -webkit-transition: all 1s;
      transition: all 1s; }
      .result .another-movie:after,
      .result .another-drink:after {
        content: "";
        position: absolute;
        top: -110%;
        left: -210%;
        width: 200%;
        height: 150%;
        opacity: 0;
        -webkit-transform: rotate(30deg);
                transform: rotate(30deg);
        background: rgba(255, 255, 255, 0.6);
        background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.13)), color-stop(77%, rgba(255, 255, 255, 0.13)), color-stop(92%, rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0)));
        background: linear-gradient(to right, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.13) 77%, rgba(255, 255, 255, 0.5) 92%, rgba(255, 255, 255, 0) 100%); }
      .result .another-movie:hover:after,
      .result .another-drink:hover:after {
        opacity: 1;
        top: -30%;
        left: -30%;
        -webkit-transition-property: left, top, opacity;
        transition-property: left, top, opacity;
        -webkit-transition-duration: 0.7s, 0.7s, 0.15s;
                transition-duration: 0.7s, 0.7s, 0.15s;
        -webkit-transition-timing-function: ease;
                transition-timing-function: ease; }
  .results__image-container {
    margin: 0 auto;
    position: relative;
    width: calc(100% - 80px);
    max-width: 400px;
    height: calc(100% - 240px); }
    .results__image-container .drink-image,
    .results__image-container .movie-image {
      width: 100%;
      height: 100%;
      border: 5px solid #ffcc00;
      padding: 20px; }
    .results__image-container .cocktail-svg,
    .results__image-container .ticket-svg {
      position: absolute;
      display: block; }
    .results__image-container .ticket-svg {
      width: 100px;
      top: -10px;
      left: -44px;
      -webkit-transform: rotate(-40deg);
              transform: rotate(-40deg); }
    .results__image-container .cocktail-svg {
      width: 90px;
      top: -30px;
      left: -50px;
      -webkit-transform: rotate(-20deg);
              transform: rotate(-20deg); }
  .movies-result__container,
  .drinks-result__container {
    margin: 0 auto; }
    .movies-result__container .more-info,
    .drinks-result__container .more-info {
      left: 50%;
      bottom: 35px;
      top: auto;
      margin: 0 auto; }
    .movies-result__container h3,
    .drinks-result__container h3 {
      width: 100%;
      position: relative;
      margin: 40px 0;
      font-size: 2.6rem; }
  .additional-movie-info,
  .additional-drink-info {
    height: 100%;
    top: 25px; } }
